
$primary: #2C2929;
$secondary: #E31E24;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  h1, h3{
    line-height: 1.3;
  }
}

