<section class="action">

    <div class="action__wrapper">

        <div class="row">
            <div class="col-lg-8">
                <h3>Бесплатная консультация от профессионалов в своей отрасли</h3>
                <p style="color: black">Задать дополнительные вопросы, получить бесплатную<br> консультацию вы можете по
                    телефону, при личной встрече<br> в офисе, который расположен по улице<br> Иманбаева, а также
                    заполнив форму обратной связи.</p>

            </div>
            <div class="col-lg-4">
                <div class="action-form">
                    <h3 class="mb-3">Оставить заявку</h3>
                    <input type="text">
                    <button class="action-button">Отправить</button>
                </div>
            </div>
        </div>


    </div>
</section>