<div class="container mb-5 mt-5">
    <h1 class="text-center p-3 mt-5 pb-3">Благодарственные письма</h1>
    <div id="owl-three" class="owl-carousel owl-theme">
        <a class="item popup" href="/img/pisma/big/1.jpg"><img src="/img/pisma/1.jpg" alt="Bootleggers Ball"></a>
        <a class="item popup" href="/img/pisma/big/2.jpg"><img src="/img/pisma/2.jpg" alt="Bootleggers Ball"></a>
        <a class="item popup" href="/img/pisma/big/3.jpg"><img src="/img/pisma/3.jpg" alt="Bootleggers Ball"></a>
        <a class="item popup" href="/img/pisma/big/4.jpg"><img src="/img/pisma/4.jpg" alt="Bootleggers Ball"></a>
    


    

    </div>

</div>