<section class="header">
    <nav class="navbar container">
   <div class="logo"><img src="/img/logo.svg" alt=""></div>
        <ul class="menu-header">
            <li class="menu-header__item">
                <a href="" class="menu-header__link">О НАС</a>
                </li>
            <li class="menu-header__item">
                <a href="" class="menu-header__link">Наши проекты</a>
            </li>
            <li class="menu-header__item">
                <a href="" class="menu-header__link">УСЛУГИ</a>
            </li>
            <li class="menu-header__item">
                <a href="" class="menu-header__link">КОНТАКТЫ</a>
            </li>
            <div class="menu-header-right">
                <div class="menu-header-right__item">
                    <div class="menu-header-right__icon menu-header-right__icon--email"><img src="/img/icon/4.svg" alt=""></div>
                    <div class="number-wrapp">
                    <span>г.Нур-Султан, ул.Иманбаева, 5в</span>
                    <span>Everest.project@mail.ru</span>
                   </div>
                </div>

                <div class="menu-header-right__item">
                    <div class="menu-header-right__icon menu-header-right__icon--email"><img src="/img/icon/5.svg" alt=""></div>
                    <div class="number-wrapp">
                        <span>+ 7 702 842 75 06</span>
                        <span>+ 7 707 701 40 30</span>
                    </div>
                </div>


            </div>
        </ul>

        <button class="hamburger hamburger--elastic" type="button"
        aria-label="Menu" aria-controls="navigation">
    <span class="hamburger-box">
    <span class="hamburger-inner"></span>
    </span>
    </button>


    </nav>

  

</section>

<section class="header-banner">
    <div class="header-banner__wrapper">
    <div class="container">

    <h1>ВСЕ ВИДЫ УСЛУГ ПО ПРОЕКТИРОВАНИЮ И УЗАКОНЕНИЮ</h1>
        <p>жилых домов, бизнес-центров,><br> производственных баз и прочих объектов.</p>
    <a href="#test-popup" data-effect="mfp-3d-unfold" class="open-popup-link btn btn__primary">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
</div>
</div>
</section>