
    <div class="marketing-bg mt-5">

            <div class="row">

            <div class="col-lg-7 offset-lg-5">
                <div class="marketing-bg__white">
                <h3>Узнайте предварительную стоимость вашего объекта.</h3>
                    <p>Всего 8 коротких вопросов помогут сделать это. Наша организация внимательно изучит Ваши пожелания и дополнительные материалы и свяжется в самое ближайшее время, с детальным предложением о сотрудничестве.</p>
                    <div class="btn btn__primary btn__primary--red">Рассчитать<span class="arrow-button-w"></span></div>
            </div></div>
            </div>

    </div>