<section class="services">
<h1 class="text-center p-3">Наши услуги</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="our-project__item our-project__item--wite">
                <img src="/img/w1.svg" alt="">
                <p>167 Выполненных</br>
                    рабочих проектов</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="our-project__item our-project__item--wite">
                <img src="/img/w2.svg" alt="">
                <p>167 Выполненных</br>
                    рабочих проектов</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="our-project__item our-project__item--wite">
                <img src="/img/w3.svg" alt="">
                <p>167 Выполненных</br>
                    рабочих проектов</p>
            </div>
        </div>
    </div>
    </div>

</section>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="our-project__item our-project__item--red">
                <img src="/img/avt-n.svg" alt="">
                <p>Авторский <br>наздор</p>
            </div>

        </div>

        <div class="col-lg-3">
            <div class="our-project__item our-project__item--red">
                <img src="/img/top-s.svg" alt="">
                <p>Топографичесская <br>съемка</p>
            </div>

        </div>

        <div class="col-lg-3">
            <div class="our-project__item our-project__item--red">
                <img src="/img/dis-int.svg" alt="">
                <p>Дизайн<br> экстерьера </p>
            </div>

        </div>

        <div class="col-lg-3">
            <div class="our-project__item our-project__item--red">
                <img src="/img/red3.svg" alt="">
                <p>89 проектов</br>
                    под ключ</p>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="our-project__item our-project__item--wite">
                <img src="/img/pereplan.svg" alt="">
                <p>Узаконение перепланировка</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="our-project__item our-project__item--wite">
                <img src="/img/diz.svg" alt="">
                <p>Дизайн интерьера</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="our-project__item our-project__item--wite">
                <img src="/img/expert.svg" alt="">
                <p>Экспертиза</p>
            </div>
        </div>
    </div>


</div>
</div>

